pixels=236
# swap=12345678
stripsattached=8
strip1=lpd8806
order1=rgb
strip2=lpd8806
order2=rgb
strip3=lpd8806
order3=rgb
strip4=lpd8806
order4=rgb
strip5=lpd8806
order5=rgb
strip6=lpd8806
order6=rgb
strip7=lpd8806
order7=rgb
strip8=lpd8806
order8=rgb
